{% extends 'cnh/index.html' %}

{% block content %}
    <!-- About Start -->
    <div class="main--content">
        <div class="post--item post--single pd--30-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="post--info">
                        <div class="title">
                            <h2 class="h4"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">О НАС</font></font></h2>
                        </div>
                    </div>

                    <div class="post--content">
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CNHungry.ru
                            предлагает Вам оригинальное освещение глобальных новостей о блокчейне и криптовалюте.
                            Предоставляет мнения, обзоры, руководства, знакомит с людьми крипто индустрии с целью помочь
                            широкой общественности понять и успешно использовать эти технологии сейчас и в будущем.</p>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мы считаем, что
                            самое важное в революции блокчейнов - это способность людей понять и принять изменения. Наши
                            это - беспристрастность, правдивость, прозрачность и точность - помогут вам ориентироваться
                            в этом чрезвычайно динамичном мире.</p>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Присоединяйтесь
                            к нам в этом путешествии, ведь есть миллионы вещей, которые нужно изучить и понять.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}