{% extends 'cnh/index.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="main--breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}" class="btn-link"><i class="fa fm fa-home"></i>Home</a></li>
                <li><a href="{{ post.tag.first.get_absolute_url }}" class="btn-link">{{ post.tag.first }}</a></li>
                <li class="active"><span>{{ post.title|truncatechars:35 }}</span></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Main Content Start -->
    <div class="main-content--section pbottom--30">
        <div class="container">
            <div class="row" style="transform: none;">
                <div class="main--content col-md-8" data-sticky-content="true"
                     style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="sticky-content-inner"
                         style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                        <!-- Post Start -->
                        <div class="post--item post--single post--title-largest pd--30-0">
                            <div class="post--cats">
                                <ul class="nav">
                                    <li><span><i class="fa fa-folder-open-o"></i></span></li>
                                    {% for tag in post.tag.all %}
                                        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="post--info">
                                <ul class="nav meta">
                                    <li><a href="{{ post.author.get_absolute_url }}">{{ post.author.name }}</a></li>
                                    <li>{{ post.datetime_create }}</li>
                                    <li><span>{{ post.time_read }} минуты чтения</span></li>
                                </ul>

                                <div class="title">
                                    <h2 class="h4">{{ post.title }}</h2>
                                </div>
                            </div>

                            <div class="post--img">
                                <a href="#" class="thumb"><img
                                        src={{ post.title_i.url }} alt="{{ post.title }}"
                                        data-rjs="2"></a>
                            </div>

                            <div class="post--content">
                                {% for paragraf in post.paragraph.all %}
                                    <p>{{ paragraf.text }}</p>
                                    {% if paragraf.quo.all %}
                                        <blockquote>
                                            {% for q in paragraf.quo.all %}
                                            <p>{{ q.text }}</p>
                                            {% endfor %}
                                        </blockquote>
                                    {% endif %}
                                {% endfor %}
                                <p style="color: #5bc0de; font-size: 12px">Источник изображения: Shutterstock</p>
                                <p style="color: #5bc0de; font-size: 12px">Источник статьи: blockchain.news</p>
                            </div>
                        </div>
                        <!-- Post Item End -->

                        <!-- Post Tags Start -->
                        <div class="post--tags">
                            <ul class="nav">
                                <li><span><i class="fa fa-tags"></i></span></li>
                                {% for tag in post.tag.all %}
                                    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <!-- Post Tags End -->

                        <!-- Post Author Info Start -->
                        <div class="post--author-info clearfix">
                            <div class="img">
                                <div class="vc--parent">
                                    <div class="vc--child">
                                        <a href="{{ post.author.get_absolute_url }}" class="btn-link">
                                            <img src={{ post.author.image.url }} alt="" data-rjs="2">
                                            <p class="name">{{ post.author.name }}</p>
                                            <p class="name"></p>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="info">
                                <h2 class="h4">Об авторе</h2>
                                <div class="content">
                                    <h2 class="h4">
                                        {{ post.author.staff.name }}
                                    </h2>
                                    <p>
                                        {{ post.author.biography }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Post Author Info End -->

                        <!-- Author last two posts Start -->
                        <div class="post--nav">
                            <ul class="nav row ">
                                <div class="post--items-title" data-ajax="tab">
                                    <h2 class="h4">ЕЩЕ СТАТЬИ АВТОРА</h2>
                                </div>
                                {% for post in last_post_author %}
                                    <li class="col-xs-6 ptop--30 pbottom--30">
                                        <!-- Post Item Start -->
                                        <div class="post--item">
                                            <div class="post--img">
                                                <a href="{{ post.get_absolute_url }}" class="thumb"><img
                                                        src={{ post.title_i.url }}
                                                                alt="{{ post.title }}" data-rjs="2"></a>

                                                <div class="post--info">
                                                    <ul class="nav meta">
                                                        <li><a href="#">{{ post.tag.first.name }}</a></li>
                                                        <li>
                                                            <a href="{{ post.datetime_create }}">{{ post.datetime_create }}</a>
                                                        </li>
                                                    </ul>

                                                    <div class="title">
                                                        <h3 class="h4"><a href="{{ post.get_absolute_url }}"
                                                                          class="btn-link">{{ post.title }}</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Post Item End -->
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Author last two posts Start End -->

                        <!-- Post Related Tag Start -->
                        <div class="post--related ptop--30">
                            <!-- Post Title Start -->
                            <div class="post--items-title" data-ajax="tab">
                                <h2 class="h4">ВАМ МОЖЕТ ПОНРАВИТЬСЯ</h2>
                            </div>
                            <!-- Post Title End -->

                            <!-- Post Start -->
                            <div class="post--items post--items-2" data-ajax-content="outer">
                                <ul class="nav row" data-ajax-content="inner">
                                    {% for like in like_news %}
                                        <li class="col-sm-6 pbottom--30">
                                            <div class="post--item post--layout-1">
                                                <div class="post--img">
                                                    <a href="{{ like.get_absolute_url }}" class="thumb"><img
                                                            src={{ like.title_i.url }} alt="{{ like.title }}"
                                                            data-rjs="2"></a>
                                                    <a href="{{ like.tag.first.get_absolute_url }}"
                                                       class="cat">{{ like.tag.first.name }}</a>

                                                    <div class="post--info">
                                                        <ul class="nav meta">
                                                            <li>
                                                                <a href="{{ like.author.get_absolute_url }}">{{ like.author.name }}</a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ like.get_absolute_url }}">{{ like.datetime_create }}</a>
                                                            </li>
                                                        </ul>

                                                        <div class="title">
                                                            <h3 class="h4"><a href="{{ like.get_absolute_url }}"
                                                                              class="btn-link">{{ like.title }} </a>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="post--content">
                                                    <p>{{ post.paragraph.first.text }}</p>
                                                </div>

                                                <div class="post--action">
                                                    <a href="{{ like.get_absolute_url }}">Продолжить читать... </a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                            <!-- Post End -->
                        </div>
                        <!-- Post Related Tag End -->

                        <div class="resize-sensor"
                             style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div class="resize-sensor-expand"
                                 style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 790px; height: 3727px;"></div>
                            </div>
                            <div class="resize-sensor-shrink"
                                 style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main Sidebar Start -->
                {% include 'cnh/include/sidebar.html' %}
                <!-- Main Sidebar End -->

            </div>
        </div>
    </div>
    <!-- Main Content End -->
{% endblock %}