<footer class="footer--section">
    <!-- Footer Widgets Start -->
    <div class="footer--widgets pd--30-0 bg--color-2">
        <div class="container">
            <div class="row AdjustRow">
                <div class="col-md-3 col-xs-6 col-xxs-12 ptop--30 pbottom--30">
                    <!-- Widget Start -->
                    <div class="widget">
                        <div class="widget--title">
                            <h2 class="h4">О НАС</h2>

                            <i class="icon fa fa-exclamation"></i>
                        </div>

                        <!-- About Widget Start -->
                        <div class="about--widget">
                            <div class="content">
                                <p>CNHungry.ru предлагает Вам оригинальное освещение глобальных новостей о блокчейне и криптовалюте.</p>
                            </div>

                            <div class="action">
                                <a href="{% url 'about' %}" class="btn-link">Читать дальше<i class="fa flm fa-angle-double-right"></i></a>
                            </div>

                        </div>
                        <!-- About Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12 ptop--30 pbottom--30">
                    <!-- Widget Start -->
                    <div class="widget">
                        <div class="widget--title">
                            <h2 class="h4">Полезные ссылки</h2>

                            <i class="icon fa fa-expand"></i>
                        </div>

                        <!-- Links Widget Start -->
                        <div class="links--widget">
                            <ul class="nav">
                                <li><a href="" class="fa-angle-right">Категории</a></li>
                                <li><a href="" class="fa-angle-right">Авторы</a></li>
                                <li><a href="{% url 'all-news' %}" class="fa-angle-right">Все новости</a></li>
                            </ul>
                        </div>
                        <!-- Links Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widgets End -->

    <!-- Footer Copyright Start -->
    <div class="footer--copyright bg--color-3">
        <div class="social--bg bg--color-1"></div>

        <div class="container">
            <p class="text float--left">&copy; 2022 <a href="{% url 'home' %}">CNHungry</a>. All Rights Reserved.</p>

            <ul class="nav social float--right">
                <li><a href="https://t.me/CNHungry"><i class="fa fa-telegram"></i></a></li>
{#                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
            </ul>

            <ul class="nav links float--right">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </div>
    </div>
    <!-- Footer Copyright End -->
</footer>