<div class="pagination--wrapper clearfix bdtop--1 bd--color-2 ptop--60 pbottom--30">
    <p class="pagination-hint float--left">Страница {{ page_obj.number }} из {{ paginator.num_pages }}</p>

    <ul class="pagination float--right">
        {% if page_obj.has_previous %}
            <li><a href="?page=1"><i class="fa fa-long-arrow-left"></i></a></li>
        {% endif %}
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="active"><span>{{ p }}</span></li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li><a href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
            <li><a href="?page={{ paginator.num_pages }}"><i class="fa fa-long-arrow-right"></i></a></li>
        {% endif %}
    </ul>
</div>