По данным CoinGecko, это некоторые из факторов, благодаря которым Ethereum достигла годовой доходности 663,7% по сравнению с 195,5% Биткойна.
<img style="font-family: arial, helvetica, sans-serif;"
     src="https://blockchainstock.blob.core.windows.net/article/CA011871513CFA46580752464CB9F26E41DE0F4F302A3463E9944BF7EC091035.jpg"
     alt="Webp.net-resizeimage - 2021-12-03T171501.298.jpg"
     width="1200" height="630"
     data-filename="Webp.net-resizeimage - 2021-12-03T171501.298.jpg">

Различные варианты использования в экосистеме Ethereum (ETH) сделали ее одной из самых востребованных сетей в криптопространстве. Например, он сыграл важную роль в росте быстроразвивающихся децентрализованного финансирования (DeFi)
и невзаимозаменяемых токенов (NFT) на основе некоторых функций, которые он предлагает, таких как смарт-контракты.Год назад цена Ethereum составляла 616 долларов по сравнению с текущими 4565 долларами, тогда как цена Биткойна составляла 19 435 долларов по сравнению с нынешними 56 792 долларами.Ethereum также массово покидает криптовалютные биржи, и это способствует его ценовому росту.
Это означает культуру хранения, потому что монеты переводятся в холодные хранилища и цифровые кошельки для будущих целей, что немного затрудняет ликвидацию.Например, баланс Ethereum на биржах недавно достиг 3-летнего минимума в 14 063 528,118 ETH, согласно Glassnode, поставщику аналитических данных о рынке.
</p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><img
        src="https://pbs.twimg.com/media/FFkzdxKXIA0sv1S?format=jpg&amp;name=small" alt="Изображение" width="596"
        height="298"></span></p>
<p dir="ltr"><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Чистая эмиссия Ethereum упала до 37000 ETH в ноябре</font></font></span></strong>
</p>
<p dir="ltr"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><a rel="nofollow"
                                                                                          href="https://twitter.com/masonnystrom/status/1466150164457046021"><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;">По</font></font></a><font
        style="vertical-align: inherit;"><font
        style="vertical-align: inherit;"> словам Мэйсона Нистрома, исследователя </font></font><a
        style="color:orange" rel="nofollow" href="/tag/Messari" target="_blank"><u><b><i><dfn
        data-info="Messari is a fast growing startup in New York that is building the next generation data layer for the global crypto asset community. ..."><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Messari</font></font></dfn></i></b></u></a><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;"> :</font></font></span></p>
<blockquote>
    <p dir="ltr"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">«Чистый выпуск Ethereum продолжает снижаться, и в ноябре было выпущено всего ~ 37 тыс. ETH. </font><font
            style="vertical-align: inherit;">При таких темпах, если рыночный спрос сохранится, выпуск Ethereum может относительно скоро стать дефляционным ».</font></font></span>
    </p>
</blockquote>
<p dir="ltr"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><img
        src="https://pbs.twimg.com/media/FFjOEPAXsAc7vhp?format=jpg&amp;name=small" alt="Изображение" width="639"
        height="360"></span></p>
<p dir="ltr"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font
        style="vertical-align: inherit;"><font
        style="vertical-align: inherit;">Чистая эмиссия ETH была вниз в </font><font
        style="vertical-align: inherit;">тренде с </font><font style="vertical-align: inherit;">тех пор жесткая вилка Лондона или EIP 1559 обновления </font></font><a
        rel="nofollow"
        href="https://blockchain.news/news/ethereum-highly-awaited-london-hard-fork-is-now-alive"><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;">пошел жить</font></font></a><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;"> на 5 августа , </font><font
        style="vertical-align: inherit;">например, этот показатель составил 204,000 ETH в августе по </font><font
        style="vertical-align: inherit;">сравнению с 37,000 ETH в </font><font style="vertical-align: inherit;">ноябре.&nbsp;</font></font></span>
</p>
<p dir="ltr"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это связано с тем, что Лондонский хард-форк постоянно делает Ethereum дефицитным, учитывая, что эфир сжигается каждый раз, когда он используется в транзакциях.&nbsp;</font></font></span><span
        style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><font
        style="vertical-align: inherit;"><font
        style="vertical-align: inherit;">Это обновление также </font></font><a rel="nofollow"
                                                                               href="https://blockchain.news/news/the-london-hard-fork-has-saved-ethereum-users-$844-million-in-transaction-fees-via-base-fee-refunds"><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;">сэкономило</font></font></a><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;"> пользователям ETH в общей сложности 844 миллиона долларов США на </font></font><a
        style="color:orange" rel="nofollow" href="/tag/transaction-fees" target="_blank"><u><b><i><dfn
        data-info="A small fee imposed on some transactions sent across the Bitcoin network. The transaction fee is awarded to the miner that successfully hash..."><font
        style="vertical-align: inherit;"><font
        style="vertical-align: inherit;">транзакционных сборах за</font></font></dfn></i></b></u></a><font
        style="vertical-align: inherit;"><font style="vertical-align: inherit;"> счет возмещения базовой комиссии.&nbsp;&nbsp;</font></font></span>
</p><br><font size="1"><i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Источник
    изображения: Shutterstock</font></font></i></font>
</div>